<h1> Fomrulario </h1>
<div>
    <form>
        <div class="form-group">
           <label for="name">Name</label>
           <input type="text" name="nombre" id="name" placeholder="nombre">
        </div>
        <div class="form-group">
        <label for="lastname">LastName</label>
        <input type="text" name="lastName" id="lastName" placeholder="nombre">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Correo electronico">
        </div>
        <input type="submit" value="Enviar">
    </form>
</div>